.centerdiv {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2em;
}

#searchBtn {
    float: left;
}

.searchBar {
    margin-top: 2em;
    margin-bottom: 2em;
}

.titleText {
    margin-top: 2em;
}

.wiki-icon {
    font-size: 8em;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 0.5em;
    padding: 0.1em 0 0.1em 0;
}

.center-text {
    text-align: center;
}

.credit {
    margin-top: 0.5em;
}

.git-icon {
    font-size: 5em;
    text-align: center;
    display: inline-block;
}

.user-icon {
    font-size: 5em;
    text-align: center;
    display: inline-block;
}

.selectors {
    text-align: center;
}

.me {
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 1em;
    color: #438518;
}

.me:hover {
    color: #284F0E;
}